/*
*bootstrap扩展
*/
.btn-register { 
  color: #ffffff; 
  background-color: #E9232C; 
  border-color: #DB3B43; 
} 

.btn-register:hover, 
.btn-register:focus, 
.btn-register:active, 
.btn-register.active, 
.open .dropdown-toggle.btn-register { 
  color: #ffffff; 
  background-color: #DB3B43; 
  border-color: #DB3B43; 
} 

.btn-register:active, 
.btn-register.active, 
.open .dropdown-toggle.btn-register { 
  background-image: none; 
} 

.btn-register.disabled, 
.btn-register[disabled], 
fieldset[disabled] .btn-register, 
.btn-register.disabled:hover, 
.btn-register[disabled]:hover, 
fieldset[disabled] .btn-register:hover, 
.btn-register.disabled:focus, 
.btn-register[disabled]:focus, 
fieldset[disabled] .btn-register:focus, 
.btn-register.disabled:active, 
.btn-register[disabled]:active, 
fieldset[disabled] .btn-register:active, 
.btn-register.disabled.active, 
.btn-register[disabled].active, 
fieldset[disabled] .btn-register.active { 
  background-color: #E9232C; 
  border-color: #DB3B43; 
} 

.btn-register .badge { 
  color: #E9232C; 
  background-color: #ffffff; 
}

.navbar-weijinsuo {background-color: #fff;border-bottom-color: #f0f0f0;margin-bottom: 0;width: 100%;z-index: 1;top: 0;}
.navbar-weijinsuo .navbar-brand {
  height: 70px;
  padding: 10px 15px;
}
.navbar-weijinsuo .navbar-brand:hover,
.navbar-weijinsuo .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-weijinsuo .navbar-text {
  color: #777;
}
.navbar-weijinsuo .navbar-nav > li > a {color: #878787;font-size: 1.4rem;line-height: 38px;}
.navbar-weijinsuo .navbar-nav > li > a:hover,
.navbar-weijinsuo .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #e9232c;
}
.navbar-weijinsuo .navbar-nav > .active > a,
.navbar-weijinsuo .navbar-nav > .active > a:hover,
.navbar-weijinsuo .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #fff;
  border-bottom: 2px solid #E92322;
}
.navbar-weijinsuo .navbar-nav > .disabled > a,
.navbar-weijinsuo .navbar-nav > .disabled > a:hover,
.navbar-weijinsuo .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-weijinsuo .navbar-toggle {
  border-color: #ddd;
}
.navbar-weijinsuo .navbar-toggle:hover,
.navbar-weijinsuo .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-weijinsuo .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-weijinsuo .navbar-collapse,
.navbar-weijinsuo .navbar-form {
  border-color: #e7e7e7;
}
.navbar-weijinsuo .navbar-nav > .open > a,
.navbar-weijinsuo .navbar-nav > .open > a:hover,
.navbar-weijinsuo .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-weijinsuo .navbar-link {
  color: #777;
}
.navbar-weijinsuo .navbar-link:hover {
  color: #333;
}
.navbar-weijinsuo .btn-link {
  color: #777;
}
.navbar-weijinsuo .btn-link:hover,
.navbar-weijinsuo .btn-link:focus {
  color: #333;
}
.navbar-weijinsuo .btn-link[disabled]:hover,
fieldset[disabled] .navbar-weijinsuo .btn-link:hover,
.navbar-weijinsuo .btn-link[disabled]:focus,
fieldset[disabled] .navbar-weijinsuo .btn-link:focus {
  color: #ccc;
}

/*
*公共样式
*/
body{
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
@font-face{
	font-family: 'weijinsuo';
	src:url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
  url('../font/MiFie-Web-Font.svg') format('svg'),
  url('../font/MiFie-Web-Font.ttf') format('truetype'),
  url('../font/MiFie-Web-Font.woff') format('woff');
}
[class^='icon-'],
[class*=' icon-']{
	font-family: weijinsuo;
	font-style: normal;
}
.icon-telephone::before{
  content: "\e909";
  font-size: 15px;
}
.icon-mobilephone::before{
	content: "\e908";
 font-size: 13px; 	
}
.icon-icon::before {
  content: "\e920";
}
.icon-logo::before {
  content: "\e93e";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-uniE903:before {
  content: "\e903";
}
.icon-uniE901:before {
  content: "\e901";
}
.icon-uniE900:before {
  content: "\e900";
}
.icon-uniE904:before {
  content: "\e904";
}
.icon-uniE902:before {
  content: "\e902";
}
.icon-uniE906:before {
  content: "\e906";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}
.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}
.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}
.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}
.icon-uniE930:hover {
  color: #df3232;
}

.icon-uniE930:before {
  content: "\e946";
}

.icon-uniE92F:hover {
  color: #e8380d;
}

.icon-uniE92F:before {
  content: "\e92f";
}

.icon-uniE92E:hover {
  color: #ed6f00;
}

.icon-uniE92E:before {
  content: "\e92e";
}

.icon-uniE92A:hover {
  color: #159f69;
}

.icon-uniE92A:before {
  content: "\e92a";
}

.icon-uniE929:hover {
  color: #07569e;
}

.icon-uniE929:before {
  content: "\e929";
}

.icon-uniE931:hover {
  color: #004098;
}

.icon-uniE931:before {
  content: "\e931";
}

.icon-uniE92C:hover {
  color: #d32019;
}

.icon-uniE92C:before {
  content: "\e92c";
}

.icon-uniE92B:hover {
  color: #3eac4a;
}

.icon-uniE92B:before {
  content: "\e92b";
}

.icon-uniE92D:hover {
  color: #2bb289;
}

.icon-uniE92D:before {
  content: "\e92d";
}


/*
*头部区域
*/

#header{}
#header > .topbar{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #c0c0c0;	
}
#header > .topbar > .container > .row div{
	height: 40px;
	font-size: 12px;
	color: #888;
}
#header > .topbar > .container > .row div + div{
	border-left: 1px solid #c0c0c0;
}
#header .mobile-link{
	color:red;
}
#header .mobile-link:hover{
	text-decoration:none;
}
#header .mobile-link img{
	display: none;
	position: absolute;
	top: 28px;
	z-index: 1001;
}
#header .mobile-link:hover img{
	display: block;
}
#header a.btn-link{
	font-size: 13px;
	color: #888;
}
#header .navbar-header{
}
#header .navbar-header a{
	text-decoration: none;
}
#header .icon-icon{
	font-size: 50px;
	line-height: 50px;
	color:#E9232C;
	vertical-align: middle;
}
#header .icon-logo{
	font-size: 36px;
	line-height: 50px;
	color:#434243;
	vertical-align: middle;
}
/*
*广告轮播
*/
#main_ad{}
#main_ad .carousel-inner .item{
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
#main_ad .carousel-inner .item > img{
	width: 100%;
}
@media (min-width:768px) {
	#main_ad .carousel-inner .item{
		height: 410px;
	}
}


/*
*产品特色
*/
#tese{
  padding: 40px 0;
  border-bottom: 1px solid #e0e0e0;
}
#tese > .container > .row > div{
  padding: 10px 0;
}
#tese .row  .media > a{
  color: #333;
  text-decoration: none;
}
#tese .row  .media > a:hover{
  color:#E9232C;
}
#tese .row  .media > a i{
  font-size:34px;
}

/*
*立即预约
*/
#ljyy{
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
#ljyy > .container > p{
  font-size: 16px;
}
#ljyy > .container > p i{
  font-size: 20px;
  margin-right: 5px;
}
#ljyy > .container > p > span,#ljyy > .container > .pull-left > a{
  color: #e92322;
}
#ljyy > .container > .pull-left > a{
  border-bottom: 1px dashed #e92322;
}
#ljyy > .container > p > a:hover{
  text-decoration: none;
}
#ljyy > .container > .pull-right > a{
  color: #333;
}

/*
*产品介绍
*/
#products{
  padding: 40px 0 20px;
  background-color: #f0f0f0;
}
#products > .container .nav-tabs{
  padding-left: 20px;
}
#products > .container .nav-tabs > li.active > a{
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #e92322;
}
#products > .container .nav-tabs > li > a{
  font-size: 16px;
  color: #333;
}
#products > .container > .tab-content{
  padding: 20px 0;
}
#products > .container > .tab-content > .tab-pane > .row > div{
  margin-bottom: 20px;
}
#products > .container > .tab-content > .tab-pane .panel-product{
  height: 150px;
  box-shadow: 1px 1px 5px #c0c0c0;
}
#products > .container > .tab-content > .tab-pane .panel-product p{
  margin-bottom: 0;
}
#products .tab-content .panel-product{
  background-color: #fff;
}
#products .tab-content .panel-product.active{
  background-color: #e92322;
}
#products .tab-content .panel-product.disabled{
  background-color: #e0e0e0;
}
#products .tab-content .panel-product .panel-heading{
  height: 150px;
  margin-right: 120px;
}
#products .tab-content .panel-product .panel-heading h5{
  font-size: 16px;
}
#products .tab-content .panel-product .panel-heading p{
  color: #c0c0c0;
}
#products .tab-content .panel-product.active .panel-heading::before{
  content: "\e915";
  font-family: weijinsuo;
  font-size: 33px;
  color: #fff;
  position: absolute;
  top: -7px;
  left: 16px;
}
#products .tab-content .panel-product .panel-body{
  height: 150px;
  float: right;
  width: 119px;
  border-left: 1px dashed #c0c0c0;
  position: relative;
  text-align: center;
  padding-top: 41px;
}
#products .tab-content .panel-product .panel-body .tooltips{
  position: absolute;
  width: 100%;
  top: 26px;
}
#products .tab-content .panel-product .panel-body .tooltips .badge{
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 0;
  padding: 2px;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
#products .tab-content .panel-product .panel-body .tooltips .badge-one{
  color: #e92322;
  border-color: #e92322;
}
#products .tab-content .panel-product .panel-body .tooltips .badge-two{
  color: #399;
  border-color: #399;
}
#products .tab-content .panel-product .panel-body p{
  color:#e92322;
}
#products .tab-content .panel-product.active .panel-body p,
#products .tab-content .panel-product.active .panel-body,
#products .tab-content .panel-product.active .panel-heading h5,
#products .tab-content .panel-product.active .panel-heading .row > div{
  color: #fff;
}
#products .tab-content .panel-product .panel-body strong{
  font-size: 36px;
}
#products .tab-content .panel-product .panel-body::before,
#products .tab-content .panel-product .panel-body::after{
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f0f0f0;
  position: absolute;
}
#products .tab-content .panel-product .panel-body::before{
  top: -8px;
  left: -8px;
}
#products .tab-content .panel-product .panel-body::after{
  bottom: -8px;
  left: -8px;
  box-shadow: 0 1px 0px #666 inset;
}

/*
*新闻版块
*/
#news{
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}
#news > .container > .row >  .news-header{
  height: 50px;
  border-bottom: 1px dashed #c0c0c0;
  position: relative;
  text-align: center;
}
#news > .container > .row >  .news-header > h3{
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}
#news > .container > .row >  .news-header > i{
  display:inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  position: absolute;
  bottom: -5px;
  right: -10px;
}
#news > .container > .row >  .news-icon > .nav-pills > li{
  margin-bottom: 10px;
}
#news > .container > .row > .news-icon > .nav-pills > li > a{
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f5f5f5;
}
#news > .container > .row >  .news-icon > .nav-pills > li.active > a{
  background-color: #e92322;
}
#news > .container > .row >  .news-icon > .nav-pills > li > a:hover{
  background-color: #e92322;
}
#news > .container > .row > .tab-content ul,
#news > .container > .row > .tab-content li{
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 3;
}

@media (max-width:992px) {
  #news > .container > .row >  .news-icon > .nav-pills > li{
    display:inline-block;
    margin-right: 15px;
  }
  #news > .container > .row >  .news-icon > .nav-pills{
    padding: 15px 0;
  }
}


/*
*合作伙伴
*/

#hzhb{
  padding: 50px 0;
}
#hzhb > .container > h3{
  text-align: center;
}
#hzhb > .container > ul,#hzhb > .container > ul > li{
  list-style: none;
  padding: 0;
  margin: 0;
}
#hzhb > .container > ul > li{
  display: inline-block;
  width:calc(100% / 9.5);
  font-size: 50px;
  line-height: 1;
  text-align: center;
  color:#999;
}
#hzhb > .container > ul > li + li{
  border-left:1px dashed #c0c0c0;
}